.listdemoBasicUsage md-divider {
  margin-top: 10px;
  margin-bottom: 0; }

div.col {
	/*width: 1000px;*/
	margin-left: 10px;
	margin-right: 10px;
}

/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
*/

#experts {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#experts td, #experts th {
    border: 1px solid #ddd;
    padding: 8px;
}

#experts tr:nth-child(even){background-color: #f2f2f2;}

#experts tr:hover {background-color: #ddd;}

#experts th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
